@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    box-sizing:border-box
}
#container{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
    z-index:-99
}
#background {
    background:no-repeat center center fixed;
    background-image:url("../assets/background.gif");
    background-color:#1a1a1a;
    background-size:cover;
    background-position:center;
    width:100%;
    height:100%;
    filter:blur(2px) brightness(45%);
    -webkit-filter:blur(2px) brightness(45%);
    -moz-filter:blur(2px) brightness(45%);
    -o-filter:blur(2px) brightness(45%);
    transform:scale(1.1);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover
}

#main{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:2;
    width:50%;
    text-align:center;
    color:white
}
#main h1{
    font-size:2.2em
}
#main h4{
    font-size:1.1em
}
#main h1,#main h4{
    padding:0;
    margin:0;
    font-family:Nunito, sans-serif;
    font-weight:100
}
#main ul{
    padding:0
}
#main ul li{
    display:inline-block;
    list-style-type:none
}
#main ul li a{
    text-decoration:none;
    position:relative;
    display:block;
    overflow:hidden;
    text-align:center;
    white-space:nowrap
}
#main ul li a i{
    padding-left:5px;
    padding-right:5px;
    font-size:2em;
    color:#fff
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

.fade-in-bottom {
    animation-name: fadeInBottom;
    animation-duration: 2s;
    opacity: 1;
}

.fadeInBottom { 
    animation-name: fadeInBottom 
}
.delayable-fade, .delayable-fade span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.delayable-fade-button, .delayable-fade-button span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.delayable-fade span { 
    display: inline-block 
}